<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JavaScript Based Todo App | Personal Project</title>

        <!-- bootstrap css -->
        <link rel="stylesheet" href="../Assets/bootstrap-5.1.3-dist/bootstrap-5.1.3-dist/css/bootstrap.min.css">

        <!-- personal css -->
        <link rel="stylesheet" href="../Assets/CSS.css">
    </head>

    <body class="d-flex justify-content-center align-items-center">

        <div class="todo_box bg-white shadow p-3">
            <div class="app_container">
                <div class="nav_bar d-flex">
                    <div class="menu me-auto">
                        <button class="text-decoration-none border-0 bg-transparent">
                            <img src="../Assets/Images/menu (1).png" width="25" alt="menu ico png">
                        </button>
                    </div>

                    <div class="text-muted">
                        <h5 class="fw-light">Todo App</h5>
                    </div>
                </div>

                <div class="input_box pt-3 pb-3 border-bottom">
                    <div class="bg-light p-1 ps-2 pe-2 d-flex justify-content-center align-items-center border">
                        <div class="me-auto">
                            <input type="text" name="task name" id="taskName" class="form-control border-0 bg-transparent shadow-none" placeholder="Add item">
                        </div>

                        <div>
                            <button class="btn btn-primary add_btn" id="addTask">
                                +
                            </button>
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <h6 class="text-muted fw-normal">To Do</h6>

                    <div class="mt-3" id="parentNode">

                    </div>
                </div>
            </div>
        </div>
        
        <!-- bootstrap js -->
        <script src="../Assets/bootstrap-5.1.3-dist/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>

        <!-- app js -->
        <script src="../Assets/JavaScript.js"></script>
    </body>
</html>